:root {
  --primary-text-color: #757575;
  --second-text-color: #212121;
  --title-text-color: #2196f3;
  --white-color: #ffffff;
  --studio-color: #000000;
  --background-color-hero-roof: #2f303a;
  --background-color-team: #f5f4fa;
  --mail-tel-cololr: rgba(117, 117, 117, 1);
  --list-color: rgba(255, 255, 255, 0.6);
  --backgroun-color-button: #f5f4fa;
}

.studio {
  color: var(--studio-color);
}
.studiowhite {
  color: var(--white-color);
}

body {
  background: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/* nav */

.site-nav .link {
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}

.contact .list:hover,
.contact .list:focus {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.list.tel {
  color: var(--mail-tel-cololr);
  text-decoration: none;
}
.list.mail {
  color: var(--mail-tel-cololr);
  text-decoration: none;
}

.site-nav .link.current {
  color: var(--title-text-color);
}

/* button */

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background-color: var(--title-text-color);
  color: var(--white-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.buttom.secondary {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--second-text-color);
  cursor: pointer;
  border: 0ch;
  border-radius: 4px;
  background: var(--backgroun-color-button);
}

.buttom.all {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--white-color);
  background-color: var(--title-text-color);
  cursor: pointer;
  border: 0em;
  border-radius: 4px;
}

/* Hero */
.section.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.35;
  color: var(--white-color);
  background-color: var(--background-color-hero-roof);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* advantges */

.section-title {
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.feature-title {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

/* works */

.section-work {
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

/* personals */

.team {
  color: var(--second-text-color);
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--second-text-color);
}

.team-title {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
}

.contact-list {
  color: var(--title-text-color);
}

.section-team {
  background-color: var(--background-color-team);
}

.bgc {
  background-color: var(--white-color);
}

/* footer */

.footer {
  background-color: var(--background-color-hero-roof);
}

.address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
  text-decoration: none;
}

.list {
  color: var(--list-color);
  text-decoration: none;
}
.contact-list .list:hover,
.contact-list .list:focus {
  color: var(--studio-color);
}

.list {
  list-style: none;
}

/* portfolio */

.image {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}

.text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
